<div class="flex flex-col lg:flex-row">
  <div class="w-full text-xl lg:pl-16 lg:w-1/2 font-quicksand">
    <p>
      <span class="text-4xl font-bold md:text-6xl text-span-blue">Hi,</span>
      <br />
      I'm Nemanja Skenderija, front-end developer with knowledge in technologies
      as (HTML, CSS, Tailwind, Bootstrap, Javascript, Storyblok, Firebase,
      Wordpress & Angular) also i had experience on working with (React & Vue).
      In total 2 years of professional experience and 2 years of educational
      experience from Faculty of Electrical Engineering.
    </p>
  </div>
  <div class="w-full mt-5 lg:w-1/2 lg:ml-20 lg:mt-0">
    <h1 class="text-2xl font-bold text-span-blue">
      Contact me via
      <a href="mailto:markokipi@yahoo.com" class="text-main-blue">e-mail</a>
    </h1>
  </div>
</div>
