<div
  class="flex flex-col justify-between text-3xl font-medium tracking-widest lg:flex-row font-quicksand"
>
  <div class="w-full py-5 lg:w-1/5 lg:-mt-24">
    <a href="https://unique-dodol-1f1c42.netlify.app/">
      <div
        class="text-center duration-150 bg-center bg-cover shadow-xl cursor-pointer hover:scale-105 rounded-xl bg-hotel-project"
      >
        <h1 class="py-20 text-white sm:py-32 lg:py-20">HOTEL</h1>
      </div>
    </a>
  </div>
  <div class="w-full lg:w-1/5 lg:mt-40">
    <a href="https://musical-malasada-7db972.netlify.app">
      <div
        class="text-center duration-150 bg-center bg-cover shadow-xl cursor-pointer hover:scale-105 rounded-xl bg-lawana-project"
      >
        <h1 class="py-20 text-white sm:py-32 lg:py-20">LAWANA</h1>
      </div>
    </a>
  </div>
  <div class="w-full py-5 lg:w-1/5 lg:-mt-36">
    <a href="https://classy-pegasus-647a47.netlify.app">
      <div
        class="text-center duration-150 bg-center bg-cover shadow-xl cursor-pointer hover:scale-105 rounded-xl bg-djob-project"
      >
        <h1 class="py-20 text-white sm:py-32 lg:py-20">DJOB</h1>
      </div>
    </a>
  </div>
  <div class="w-full lg:w-1/5 lg:mt-32">
    <a href="https://github.com/nemanjaskenderija/soundcloud">
      <div
        class="text-center duration-150 bg-gray-200 bg-center bg-cover shadow-xl cursor-pointer hover:scale-105 rounded-xl"
      >
        <h1 class="py-20 text-orange-400 sm:py-32 lg:py-20">
          SOUND<br />CLOUD
        </h1>
      </div>
    </a>
  </div>
  <div class="w-full py-5 lg:w-1/5 lg:-mt-28">
    <a href="https://github.com/nemanjaskenderija/notepad">
      <div
        class="text-center duration-150 bg-gray-200 bg-center bg-cover shadow-xl cursor-pointer hover:scale-105 rounded-xl"
      >
        <h1 class="py-20 text-blue-400 sm:py-32 lg:py-20">NOTEPAD</h1>
      </div>
    </a>
  </div>
</div>
